@media (min-width: 1080px){
.col-md-20 {
    width: 20%;
    float: left;
}
}
.sm-productCrousel .active.carousel-item-left,.sm-productCrousel .carousel-item-prev{
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-33%,0,0);
}.sm_logo {
    padding: 29px 32px;
    max-width: 255px;
}div#navbarText {
    margin-top: 62px;
}.sw_container {
    max-width: 1440px;
    margin: auto;
}.center {
    text-align: center;
}.info-banner1 {
    padding: 50px 111px;
}p.paragaraph {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
}h1.center.sm_heading {
    padding-bottom: 27px;
    font-size: 59px;
    font-weight: normal;
    word-spacing: 12px;
}.sm-productCrousel {
    background: rgb(248,248,248);
    padding: 52px 0 0 0;
}.sm_crousel {
    background: white;
}footer {
    background: rgb(248,248,248);
}h1.center.sm_sub_heading {
    font-size: 35px;
    padding: 20px 0;
}.wd-50per {
    width: 50%;
    margin: auto;
}
@media (min-width: 767px) {
  .tablet{
    display: none !important;
  }
}
@media (max-width: 767px) {
  .desktop{
    display: none !important;
  }
  .tablet{
    display: block !important;
  }.info-banner1 {
	padding: 50px 20px ;
}
}@media (max-width: 991px) {
  .sm_logo {
	margin: auto;
}header .col-sm-4 {
	width: 100%;
	display: block;
	max-width: 100%;
	flex: 100%;
	position: absolute;
}.sm_logo {
	padding: 15px 0;
	max-width: 127px;
}.navbar-toggler {
	margin: 21px 0;
}div#navbarText {
	margin-top: 0;
}.sm_logo {

	z-index: 99;
	position: relative;
}h1.center.sm_heading {

	font-size: 45px;

}.info-banner1 {
	padding: 50px 20;
}
}
@media (max-width: 440px) {
  .sm_logo {
	margin: 12px;
	float: right;
}h1.center.sm_heading {
	font-size: 30px;
}
}

#contact-by-phone-or-email {
	background: white;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 0 3px #0000001a;
	margin-bottom: 35px;
}.bg-gray {
    background: #f2f1ec;
}.p-b-40 {
	padding-bottom: 40px !important;
}.img.img-responsive {
	width: 100%;
}.product-description {
	padding: 73px 0;
}.product-description .paragaraph {
	text-align: left;
}.umfCertification {
	float: right;
	width: 177px;
	margin: 0px 20px;
	padding: 0 20px;
}.productList.container-flud {
	padding: 0 54px;
}header {
	overflow: hidden;
}
